/* Diag */

body{
    background: #E0B0FF;
  }
  
  /* Homepage */
  
  .home h1{
    color: rgb(65, 0, 139);
  }
  
  /* Portfolio */
  
  .portfolio h1 {
    color: greenyellow;
  }
  
  /* Contact */
  
  .contact h1{
    color: orange;
  }